<!--
  Generated template for the MisPublicacionesDetallesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <mi-header [titulo]="'Mi publicacion'"></mi-header>
</ion-header>


<ion-content padding>
  <ion-card >
    <ion-item>
      <h1>{{titulo}}</h1>
      <h2>{{precio}} Bsf</h2>
    </ion-item>
  
    <img src="../assets/imgs/cel.jpg" alt="">
    <ion-card-content>
      <p class="ciudad">{{estado}}</p>
      <br>
      <p>{{descripcion}}</p>
      <br>
      <p>Fecha de publicacion: {{fecha}}</p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col col-8 col-sm-6 text-center>
  
          <button ion-button *ngIf="marcar== 'no'" (click)="agregar()" clear icon-only>
            <ion-icon name="ios-star-outline"></ion-icon>
            <div>Agregar a lista de deseos</div>
          </button>
  
          <button ion-button *ngIf="marcar== 'si'" (click)="quitar()" clear icon-only>
            <ion-icon name="ios-star"></ion-icon>
            <div>Quitar de la lista de deseos</div>
          </button>
        </ion-col> 
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
