<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
      <ion-title>Inicio</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
<div>
<ion-segment [(ngModel)]="registro">
  <ion-segment-button value="si">
    Registrado
  </ion-segment-button>
  <ion-segment-button value="no">
    Crear cueta
  </ion-segment-button>
</ion-segment>
</div>
<div [ngSwitch]="registro" class="card-background-page">

  <form [formGroup]="formInicio" (ngSubmit)="enviarFormInicio()" *ngSwitchCase="'si'">
    <ion-list ion-row>
      <ion-item ion-col col-12>
        <ion-label floating icon-left>
          <ion-icon name="mail"></ion-icon> Correo</ion-label>
        <ion-input type="text" clearInput="true" formControlName="email"></ion-input>
      </ion-item>
      <!--Mensaje de error en validacion-->
      <ion-item *ngIf="formInicio.get('email').errors && formInicio.get('email').dirty" no-lines>
        <p color="danger" ion-text *ngIf="formInicio.get('email').hasError('required')">Introduzca una direccion de correo</p>
        <p color="danger" ion-text *ngIf="formInicio.get('email').hasError('email')">Formato de correo invalido</p>
      </ion-item>

      <ion-item ion-col col-12>
        <ion-label floating icon-left>
          <ion-icon name="key"></ion-icon> Contraseña</ion-label>
        <ion-input [type]="tipoInput" clearInput="true" formControlName="password" maxlength=18></ion-input>
      </ion-item>
      <!--Mostra contrasena-->
      <button ion-button clear icon-only *ngIf="tipoInput == 'password' " (click)="mostrar()">
        <ion-icon name="eye-off"></ion-icon>
      </button>
      <!--Ocultar contrasena-->
      <button ion-button icon-only clear *ngIf="tipoInput == 'text' " (click)="ocultar()">
        <ion-icon name="eye"></ion-icon>
      </button>

      <!--Mensaje de error en validacion-->
      <ion-item *ngIf="formInicio.get('password').errors && formInicio.get('password').dirty" no-lines>
        <p color="danger" ion-text *ngIf="formInicio.get('password').hasError('pattern')">Min caracteres 6, Max caracteres 18</p>
      </ion-item>

      <ion-item>
        <button ion-button block type="submit" [disabled]="!formInicio.valid"> Iniciar sesión</button>
      </ion-item>
    </ion-list>
  </form>

  <form [formGroup]="formRegistro" (ngSubmit)="enviarFormRegistro()" *ngSwitchCase="'no'">
    <ion-list ion-row>
      <ion-item ion-col col-12>
        <ion-label floating icon-left>
          <ion-icon name="person"></ion-icon> Nombre</ion-label>
        <ion-input type="text" clearInput="true" formControlName="nombre" maxlength=20></ion-input>
      </ion-item>

      <!--Mensaje de error en validacion-->
      <ion-item *ngIf="formRegistro.get('nombre').errors && formRegistro.get('nombre').dirty">
        <p color="danger" ion-text *ngIf="formRegistro.get('nombre').hasError('required')">Introduzca su nombre</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('nombre').hasError('minlength')">Minimo 2 caracteres</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('nombre').hasError('maxlength')">Maximo 18 caracteres</p>
      </ion-item>


      <ion-item ion-col col-12>
        <ion-label floating icon-left>
          <ion-icon name="person"></ion-icon> Apellido</ion-label>
        <ion-input type="text" clearInput="true" formControlName="apellido" maxlength=20></ion-input>
      </ion-item>

      <!--Mensaje de error en validacion-->
      <ion-item *ngIf="formRegistro.get('apellido').errors && formRegistro.get('apellido').dirty">
        <p color="danger" ion-text *ngIf="formRegistro.get('apellido').hasError('required')">Introduzca su apellido</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('apellido').hasError('minlength')">Minimo 2 caracteres</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('apellido').hasError('maxlength')">Maximo 18 caracteres</p>
      </ion-item>

      <ion-item ion-col col-12>
        <ion-label floating icon-left>
          <ion-icon name="phone-portrait"></ion-icon> Celular</ion-label>
        <ion-input type="number" clearInput="true" formControlName="celular"></ion-input>
      </ion-item>

      <!--Mensaje de error en validacion-->
      <ion-item *ngIf="formRegistro.get('celular').errors && formRegistro.get('celular').dirty">
        <p color="danger" ion-text *ngIf="formRegistro.get('celular').hasError('required')">Introduzca su celular</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('celular').hasError('minlength')">Formato invalido faltan caracteres</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('celular').hasError('maxlength')">Maximo 11 caracteres</p>
      </ion-item>


      <ion-item ion-col col-12>
        <ion-label floating icon-left>
          <ion-icon name=""></ion-icon> Estado </ion-label>
        <ion-select formControlName="estado">
          <ion-option [value]="estado._id" *ngFor="let estado of listEstados.estados">{{estado.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <!--Mensaje de error en validacion-->
      <ion-item *ngIf="formRegistro.get('estado').errors && formRegistro.get('estado').dirty">
        <p color="danger" ion-text *ngIf="formRegistro.get('estado').hasError('required')">Indique su estado</p>
      </ion-item>


      <ion-item ion-col col-12>
        <ion-label floating icon-left>
          <ion-icon name="create"></ion-icon>
          Dirección
        </ion-label>
        <ion-textarea rows=3 clearInput="true" formControlName="direccion" maxlength=300></ion-textarea>
      </ion-item>

      <ion-item ion-col col-12>
        <ion-label floating icon-left>
          <ion-icon name="mail"></ion-icon> Correo</ion-label>
        <ion-input type="text" clearInput="true" formControlName="email"></ion-input>
      </ion-item>

      <!--Mensaje de error en validacion-->
      <ion-item *ngIf="formRegistro.get('email').errors && formRegistro.get('email').dirty">
        <p color="danger" ion-text *ngIf="formRegistro.get('email').hasError('required')">Introduzca una direccion de correo</p>
        <p color="danger" ion-text *ngIf="formRegistro.get('email').hasError('email')">Formato invalido</p>
      </ion-item>

      <ion-item ion-col col-12>
        <ion-label floating icon-left>
          <ion-icon name="key"></ion-icon> Contraseña</ion-label>
        <ion-input [type]="tipoInput" clearInput="true" formControlName="password" maxlength=18></ion-input>
      </ion-item>
      <!--Mostra contrasena-->
      <button ion-button clear icon-only *ngIf="tipoInput == 'password' " (click)="mostrar()">
        <ion-icon name="eye-off"></ion-icon>
      </button>
      <!--Ocultar contrasena-->
      <button ion-button icon-only clear *ngIf="tipoInput == 'text' " (click)="ocultar()">
        <ion-icon name="eye"></ion-icon>
      </button>

      <!--Mensaje de error en validacion-->
      <ion-item *ngIf="formRegistro.get('password').errors && formRegistro.get('password').dirty" no-lines>
        <p color="danger" ion-text *ngIf="formRegistro.get('password').hasError('pattern')">Min caracteres 6, Max caracteres 18</p>
      </ion-item>

      <ion-item>
        <button ion-button block type="submit" [disabled]="!formRegistro.valid"> Registrar</button>
      </ion-item>

    </ion-list>
  </form>
</div>
</ion-content>
