<!--
  Generated template for the MisPublicacionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<mi-header [titulo]="'Mi cuenta'"></mi-header>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let anuncio of listAnuncios.publicaciones">
      <ion-avatar item-start>
        <img src="../assets/imgs/10.jpg">
      </ion-avatar>
      <h2>{{anuncio.titulo}}</h2>
      <p>{{anuncio.fecha}}</p>
      <ion-buttons end>
        <button ion-button class="button button-small " clear color="danger" (click)="borrar(anuncio._id)">Delete</button>
        <button ion-button  class="button button-small " clear color="secondary" (click)="actualizar(anuncio)">Update</button>
        <button ion-button  class="button button-small " clear color="primary" (click)="ver(anuncio)">View</button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
