<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <mi-header [titulo]="'Categorías'"></mi-header>

</ion-header>


<ion-content>
  <ion-list >
    <button ion-item icon-left no-lines detail-none color="blight" 
            (click)="goToCategoria(categoria)" *ngFor="let categoria of listCategorias.categorias">
      <ion-icon [name]="categoria.icono" color="icono"></ion-icon>
      {{categoria.nombre}}
    </button>
  </ion-list>
</ion-content>
