<!--
  Generated template for the MensajesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<mi-header [titulo]="'Mensajes'"></mi-header>

</ion-header>


<ion-content padding>
<p>En este momento no tienes ningún mensaje</p>
</ion-content>
