<!--
  Generated template for the ProductosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<mi-header [titulo]="'Publicar articulo'"></mi-header>
</ion-header>


<ion-content padding>
  <form [formGroup]="formProducto"  (ngSubmit)="enviarFormArticulos()">
    <ion-list>
     <ion-grid>
       <ion-row>
        <ion-col col-10>
          <ion-item>
            <ion-label floating icon-left>
              <ion-icon name="create"></ion-icon> Titulo
            </ion-label>
            <ion-input type="text"  formControlName="titulo" clearInput="true"></ion-input>
          </ion-item>
        </ion-col>

        <!--Mensaje de error en validacion-->
        <ion-item *ngIf="formProducto.get('titulo').errors && formProducto.get('titulo').dirty">
          <p color="danger" ion-text *ngIf="formProducto.get('titulo').hasError('required')">Introduzca su titulo</p>
          <p color="danger" ion-text *ngIf="formProducto.get('titulo').hasError('minlength')">Minimo 2 caracteres</p>
          <p color="danger" ion-text *ngIf="formProducto.get('titulo').hasError('maxlength')">Maximo 20 caracteres</p>
        </ion-item>

         <ion-col col-2>
          <button ion-button>
            <ion-icon name="camera"> </ion-icon>
          </button>     
        </ion-col>
       </ion-row>
     </ion-grid>
        

      <ion-item>
        <ion-label floating icon-left>
          <ion-icon name=""></ion-icon> Precio
        </ion-label>
        <ion-input type="number" clearInput="true" formControlName="precio"></ion-input>
      </ion-item>

      <!--Mensaje de error en validacion-->
      <ion-item *ngIf="formProducto.get('precio').errors && formProducto.get('precio').dirty">
        <p color="danger" ion-text *ngIf="formProducto.get('precio').hasError('required')">Introduzca el precio</p>
        <p color="danger" ion-text *ngIf="formProducto.get('precio').hasError('minlength')">Minimo 2 cifras</p>
        <p color="danger" ion-text *ngIf="formProducto.get('precio').hasError('maxlength')">Maximo 20 cifras</p>
      </ion-item>

      <ion-item>
        <ion-label floating icon-left>
        <ion-icon name="create"></ion-icon>
        Descripción
        </ion-label>
        <ion-textarea rows=3 clearInput="true"  formControlName="descripcion"></ion-textarea>
      </ion-item>

      <!--Mensaje de error en validacion-->
      <ion-item *ngIf="formProducto.get('descripcion').errors && formProducto.get('descripcion').dirty">
        <p color="danger" ion-text *ngIf="formProducto.get('descripcion').hasError('required')">Indique la direccion</p>
        <p color="danger" ion-text *ngIf="formProducto.get('descripcion').hasError('minlength')">Minimo 10 caracteres</p>
      </ion-item>
  

      
      <ion-item>
        <ion-label floating icon-left>
          <ion-icon name=""></ion-icon> Categoria </ion-label>
        <ion-select  formControlName="categoria">
          <ion-option [value]="categoria._id" *ngFor="let categoria of listCategoria.categorias">{{categoria.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <!--Mensaje de error en validacion-->
      <ion-item *ngIf="formProducto.get('categoria').errors && formProducto.get('categoria').dirty">
        <p color="danger" ion-text *ngIf="formProducto.get('categoria').hasError('required')">Indique la categoria</p>
      </ion-item>

      <ion-item >
        <ion-label floating icon-left>
          <ion-icon name=""></ion-icon> Estado </ion-label>
        <ion-select formControlName="estado">
          <ion-option [value]="estado._id" *ngFor="let estado of listEstado.estados">{{estado.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <!--Mensaje de error en validacion-->
      <ion-item *ngIf="formProducto.get('estado').errors && formProducto.get('estado').dirty">
        <p color="danger" ion-text *ngIf="formProducto.get('estado').hasError('required')">Indique su estado</p>
      </ion-item>
     
      <ion-item>
        <ion-label floating icon-left>
          <ion-icon name="create"></ion-icon>
          Dirección
        </ion-label>
        <ion-textarea rows=3 clearInput="true"  formControlName="direccion"></ion-textarea>
      </ion-item>

        <!--Mensaje de error en validacion-->
        <ion-item *ngIf="formProducto.get('direccion').errors && formProducto.get('direccion').dirty">
          <p color="danger" ion-text *ngIf="formProducto.get('direccion').hasError('required')">Indique la direccion</p>
          <p color="danger" ion-text *ngIf="formProducto.get('direccion').hasError('minlength')">Minimo 10 caracteres</p>
        </ion-item>
        <ion-item>
          <button ion-button block type="submit" [disabled]="!formProducto.valid" > Agregar articulo</button>
        </ion-item>
    </ion-list>
  </form>
</ion-content>
