<ion-menu [content]="navegacion" class="menu" >
    <ion-header >
        <ion-navbar color="primary" >
            <ion-item color="primary" no-lines>
                <ion-avatar item-start>
                    <img src="../assets/imgs/r.gif" alt="">
                </ion-avatar>
                <p>Bienvenido, {{nombre}}</p>
                <p>{{correo}}</p>
            </ion-item>  
        </ion-navbar>
    </ion-header>
        
    <ion-content>
        <ion-list>
            <button ion-item icon-left no-lines detail-none menuClose 
             *ngFor="let opcion of listOpciones" (click)="goToPage(opcion.pagina)" color="blight" height=1px>
             <ion-icon [name]="opcion.icono" color="primary" height=1px></ion-icon>
             {{opcion.titulo}} 
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav #navegacion [root]="rootPage"></ion-nav>
