page-inicio {
    ion-slides{
        height: auto ;
    } 
    h3{
        position: relative;
        text-align: center;
        color: rgb(34, 31, 34);
    } 
    .card-background-page {

        ion-card {
            position: relative;
            text-align: center;
        }
    }
    .miniatura{
       width: 100%;
   }
}
