<!--
  Generated template for the InicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <mi-header [titulo]="'Fleas'"></mi-header>
  
</ion-header>


<ion-content  auto-hide>

<ion-slides class="card-background-page" autoplay="5000" loop="true" speed="2000" spaceBetween="10">
  <ion-slide *ngFor="let anuncio of listPrincipal">
    <ion-card>
      <img [src]="anuncio.url" />
    </ion-card>
  </ion-slide>
 
</ion-slides>

<h3>Más buscados</h3>
<ion-slides class="card-background-page" autoplay="4000" loop="true" speed="2000" spaceBetween="1">
  <ion-slide *ngFor="let articuloB of listMasB">
   <ion-item  class="miniatura">
      <ion-thumbnail item-start>
        <img [src]="articuloB.url">
      </ion-thumbnail>
      <h2>{{articuloB.titulo}}</h2>
      <p>{{articuloB.precio}}</p>
      <p>{{articuloB.uso}}</p>
      <button ion-button clear item-end (click)="goToDetalles(articuloB)">Ver</button>
   </ion-item>
  </ion-slide>

</ion-slides>
<h3>Sugerencias</h3>

<div>
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-sm-6 *ngFor="let articulo of listAnuncios">
        <ion-card *ngIf="articulo" (click)="goToDetalles(articulo)">    
          <img [src]="articulo.url" alt="">
          <ion-card-content>
            <p>{{articulo.precio}}</p>
            <p>{{articulo.uso}}</p>
          </ion-card-content>        
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<ion-fab bottom right #fab>
  <button ion-fab color="secondary" [navPush]="articulos">
    <ion-icon name="create" color="dark"></ion-icon>
  </button>
</ion-fab>
</ion-content> 
