<!--
  Generated template for the NotificacionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <mi-header [titulo]="'Notificaciones'"></mi-header>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-list ion-row>
    <div class="cards" ion-col col-12 col-sm-12 col-md-6 *ngFor="let notificacion of listNotificaciones">
      <ion-card>
        <ion-item>
          <ion-thumbnail item-start>
            <img [src]="notificacion.url">
          </ion-thumbnail>
          <h2>{{notificacion.desc}}</h2>
          <h3>{{notificacion.titulo}}</h3>
          <p>{{notificacion.precio}}</p>
        </ion-item>
      </ion-card>
    </div>
  </ion-list>
</ion-grid>
</ion-content>
