<!--
  Generated template for the MiCuentaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <mi-header [titulo]="'Mi cuenta'"></mi-header>
</ion-header>


<ion-content padding>
<ion-card>
  <ion-item>
    <h1>{{nombre}} {{apellido}}</h1>
    <button ion-button clear>
    </button>
  </ion-item>

  <img src="../assets/imgs/perfil.jpg" alt="">
  <ion-card-content>
    <p class="ciudad">Correo: {{correo}}</p>
    <br>
    <p>Celular: {{celular}}</p>
    <br>
    <p>Estado: {{estado}}</p>
    <br>
    <p>Direccion: {{direccion}}</p>
  </ion-card-content>
  
</ion-card>
</ion-content>
