page-list-deseos {
   div.cards{
        margin-left: -15px;
        margin-top: -20px;
        margin-right: 15px;
        width: 100%;
        ion-card{
            width: 100%; 
             
        }
    }
}
