<!--
  Generated template for the ListDeseosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <mi-header [titulo]="'Lista de deseos'"></mi-header>

</ion-header>


<ion-content padding>
 <ion-grid>
  <ion-list ion-row>
    <div class="cards" ion-col col-12 col-sm-12 col-md-6 *ngFor="let anuncio of listAnuncios">
      <ion-card>
        <ion-item (click)="goToDetalles(anuncio)">
          <ion-thumbnail item-start>
            <img [src]="anuncio.url">
          </ion-thumbnail>
          <h2>{{anuncio.titulo}}</h2>
          <h3>{{anuncio.precio}}</h3>
          <p>{{anuncio.uso}}</p>
          <button ion-button clear item-end icon-only>
            <ion-icon name="ios-star"></ion-icon>
          </button>
        </ion-item>
      </ion-card>
    </div>
  </ion-list>
</ion-grid>
</ion-content>
