<!--
  Generated template for the AnunciosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <mi-header [titulo]="titulo"></mi-header>
  <div color="primary">
    <ion-searchbar ></ion-searchbar>
  </div>
  
</ion-header>


<ion-content padding auto-hide>
   
    <ion-grid>
      <ion-list ion-row>
        <div class="cards" ion-col col-12 col-sm-12 col-md-6 *ngFor="let anuncio of listAnuncios.publicaciones">

          <ion-card >
            <ion-item (click)="goToDetalles(anuncio)">
              <ion-thumbnail item-start>
                <img src="../assets/imgs/cel.jpg"><!--<img [src]="anuncio.url">-->
              </ion-thumbnail>
              <h2>{{anuncio.titulo}} </h2>
              <h3>{{anuncio.precio}} Bsf</h3>
              <p>{{anuncio.estado.nombre}}</p>
             
            </ion-item>
          </ion-card>
        </div>   
      </ion-list>
    </ion-grid>

  <ion-fab bottom right #fab>
    <button ion-fab color="secondary" [navPush]="articulos">
      <ion-icon name="create" color="dark"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
